<div class="jumbotron">
    <h2>About Us</h2>
    <p>Hello! This site was created so as to make it more 
    convienent to find certain kinds of magic spells in a
    table-top roleplaying game I enjoy, known as Pathfinder.
    It is a modified ruleset based off one of the editions of
    Dungeons and Dragons, which you may  or may not have heard of.
    It does so, by letting you filter the spells according to
    the following:</p>
    <ul>
        <li>Schools</li>
        <li>Subschools</li>
        <li>Descriptors</li>
    </ul>
     <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0e/Pathfinder_RPG_Core_Rulebook_cover.jpeg/220px-Pathfinder_RPG_Core_Rulebook_cover.jpeg" alt="Pathfinder: TTRPG" width="500" height="600"> 
</div>