<div class="jumbotron">
    <h2>Contact Us</h2>
    <p>Hello! My name is Erikas Laignel. 
    This website was created using a mix of Ruby on Rails,
    JavaScript, CSS, HTML, PostgreSQL, and more.</p>
    <p>I can be contacted mainly through my email, which for
    the purpose of this site is: </p>
    <p>eklaignel0@frostburg.edu</p>
    <img src="https://images.idgesg.net/images/article/2018/05/gmail_logo-100758589-large.jpg" width="200" height="150">
    <p>As for how to find each of the things I used to make 
    this site, go to these locations to learn more about them:</p>
    <p>Ruby on Rails</p>
    <p><a href="https://rubyonrails.org/">https://rubyonrails.org/</a></p>
    <p>JavaScript</p>
    <p><a href="https://www.w3schools.com/js/default.asp">https://www.w3schools.com/js/default.asp</a></p>
    <p>CSS</p>
    <p><a href="https://www.w3schools.com/css/default.asp">https://www.w3schools.com/css/default.asp</a></p>
    <p>HTML</p>
    <p><a href="https://www.w3schools.com/html/">https://www.w3schools.com/html/</a></p>
    <p>PostgreSQL</p>
    <p><a href="https://www.postgresql.org/">https://www.postgresql.org/</a></p>
</div>