<div class="jumbotron">
    <h2>Home Page</h2>
    <p>This is just a friendly page to let you know we exist!
    The purpose of this site is for letting you find specific
    spells you want for a game called Pathfinder.
    If you wish to know more, feel free to read the About Us.</p>
</div>